# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# IDE / Editor
.vscode/
.devcontainer/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.jsonl

# Others
*.sqlite3
*.db